@import "tailwindcss";


main{
    padding-block: 4rem;
}
body{
    box-sizing: border-box;
    background: linear-gradient(
  to right,
  rgba(245, 230, 211, 0.95),
  rgba(232, 213, 196, 0.95)
);

    width: 100%;
    color:#2C1810;
}
html{
    width: 100%;
    box-sizing: border-box;
}
h1{
    font-family: Ribeye, Lato ,Arial,sans-serif;
}
section{
    padding-inline: 1rem;
    
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    margin-top: 0;
    padding-top: 0;
   
    font-weight:100 ;
}
/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #2a1a12; /* dark brown */
}

/* Scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background-color: #c08457; /* warm brown/amber */
  border-radius: 10px;
  border: 2px solid #2a1a12;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #a16207; /* darker amber */
}
